*{-moz-box-sizing:border-box;box-sizing:border-box;}

/* --------------- placeholder --------------- */
.write ::-webkit-input-placeholder {
    color: #f0f0f0;
}
.write :-moz-placeholder {
    color: #f0f0f0;
}
.write .placeholder {
    color: #f0f0f0;
}
/* --------------- /placeholder --------------- */

/*-----site-----*/
.site-footer {
    margin: 0 auto 0;
}
.site-content {
    min-width: 320px;
    padding: 157px 0 0 0;
    color: #195b8a;
    font-size: 16px;
    line-height: 24px;
}
.site__title{
    display: block;
    margin-bottom: 30px;
    color: #65b0e6;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
}
/*-----/site-----*/

/*-----hlr-promo-----*/
.hlr-link{
    color: #195b8a;
    text-decoration: none;
}
.hlr-link:hover{
    color: #195b8a;
    text-decoration: underline;
}
.hlr-promo{
    width: 100%;
    background: no-repeat center;
    font-size: 20px;
    line-height: 30px;
    color:#fff;
}
.promo-2fa{
    background: #65b0e6 no-repeat center;
}
.hlr-promo__wrap{
    position: relative;
    height: 376px;
    padding: 20px 10px;
    background: no-repeat bottom;
    background-size: 275px 177px;
    background-position: 100% 100%;
}
.hlr-promo__wrap div{
    position: relative;
    max-width: 920px;
    height: 100%;
    margin: 0 auto;
}
.hlr-promo__text{
    display: block;
    width: 60%;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.hlr-promo__title{
    font-size: 35px;
    margin-bottom: 20px;
    padding: 0;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: -1.6px;
}
.hlp-lookup{
    max-width: 1540px;
    margin: 0 auto;
    padding: 20px 10px 40px;
}
.hlp-lookup .site__title{
    margin-bottom: 10px;
}
.hlp-lookup__content{
    font-size: 16px;
    line-height: 24px;
    color: #195b8a;
}
.hlp-lookup__pic{
    width: 300px;
    margin: 0 auto;
}
.hlp-lookup__pic img{
    width: 100%;
    height: auto;
}
.promo-2fa .hlr-promo__title {
    font-size: 30px;
    line-height: 33px;
    letter-spacing: 0;
}
.promo-2fa .hlr-promo__text {
    width: 100%;
}
.promo-2fa .btn{
    font-size: 14px;
}
.promo-2fa .btn_5 {
    margin-top: 0;
    margin-left: 15px;
}
.promo-2fa .hlr-promo__wrap {
    height: 400px;
    background-size: 258px 162px;
    background-position: 50% 101%;
}
/*-----/hlr-promo-----*/

/*-----service-----*/
.service{
    background: #f4f9fd;
}
.service__wrap{
    padding: 40px 10px 20px;
    max-width: 920px;
    margin: 0 auto;
}
.service__item{
    margin-bottom: 20px;
    font-size: 12px;
    color: #195b8a;
}
.service__item span{
    display: block;
    margin-bottom: 22px;
    font-size: 24px;
    font-weight: 700;
}
/*-----/service-----*/

/*-----hlr-what-----*/
.hlr-what{
    padding: 40px 10px;
    max-width: 920px;
    min-height: 135px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 18px;
}
.hlr-what .site__title{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    margin-bottom: 17px;
}
.hlr-what__pic{
    float: left;
    margin: 0 15px 10px 0;
}
/*-----/hlr-what-----*/

/*-----who-needs-----*/
.who-needs{
    min-height: 135px;
    overflow: hidden;
    background:#f4f9fd;
}
.who-needs__wrap{
    padding: 40px 10px;
    max-width: 920px;
    margin: 0 auto;
    background-size: 0;
}
.who-needs ul{
    margin-left: 21px;
    line-height: 20px;
    font-size: 16px;
}
.who-needs ul li{
    margin-bottom: 11px;
}
.who-needs__title{
    font-size: 20px;
    line-height: 21px;
    margin-bottom: 13px;
}
/*-----/who-needs-----*/

/*-----register-----*/
.register{

}
.register__wrap{
    padding: 40px 10px;
    max-width: 920px;
    margin: 0 auto;
}
.register__pic{

}
.register__pic{
    width: 170px;
    height: auto;
    display: block;
    margin: 0 auto 15px;
}
/*-----/register-----*/

/*-----relive-----*/
.relive{
    background: #f4f9fd;
}
.relive__wrap{
    padding: 40px 10px;
    max-width: 920px;
    margin: 0 auto;
    min-height: 260px;
}
.relive__pic{

}
.relive__pic{
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto 15px;
}
/*-----/relive-----*/

/*-----any-questions-----*/
.any-questions{
    background: #65b0e6;
    color: #fff;
    font-size: 15px;
}
.any-questions__wrap{
    position: relative;
    padding: 20px 10px 20px 52px;
    max-width: 920px;
    margin: 0 auto;
}
.any-questions__wrap:before{
    position: absolute;
    top: 20px;
    left: 10px;
    width: 32px;
    height: 32px;
    background: url("../img/any-questions.png") no-repeat center;
    background-size: contain;
    content: "";
}
/*-----/any-questions-----*/

/*-----through-----*/
.through{
    position: relative;
    padding: 40px 10px;
    max-width: 920px;
    margin: 0 auto;
}
.through__item{
    margin-bottom: 30px;
    text-align: center;
}
.through__pic{
    height: 60px;
    width: auto;
    display: block;
    margin: 0 auto 10px;
}
/*-----/through-----*/

/*-----btn-----*/
.btn{
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    background: #e65100;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
}
.btn_2{
    margin-top: 15px;
}
.btn_3{
    padding: 5px 40px;
    border: none;
}
.btn_4{
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: calc(100% - 40px);
    text-align: center;
    font-size: 15px;
    padding: 5px 5px;
}
.btn_5{
    background: #fff;
    margin-top: 15px;
    color: #5a9dd7;
}
.btn_6{
    background: #fff;
    color: #5a9dd7;
}
.btn:hover{
    opacity: .7;
    color: #fff;
    text-decoration: none;
}
.btn_5:hover{
    color: #5a9dd7;
}
.btn_6:hover{
    color: #5a9dd7;
}
/*-----/btn-----*/

/*-----sms-promo-----*/
.sms-promo{
    width: 100%;
    height: 552px;
    background: #65b0e6 no-repeat center;
    font-size: 20px;
    line-height: 30px;
    color:#fff;
}
.sms-promo__wrap{
    position: relative;
    max-width: 920px;
    margin: 0 auto;
    height: 552px;
    padding: 20px 10px;
    background-repeat: no-repeat;
    background-size: 275px 177px;
    background-position: 50% 100%;

}
.sms-promo__sub-title{
    margin-bottom: 5px;
    text-transform: uppercase;
}
.sms-promo__wrap p {
    margin-bottom: 5px;
    font-size: 14px;
    color:#1b5d8b;
    line-height: 20px;
}
.sms-promo__title{
    font-size: 35px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: -1.6px;
}
/*-----/sms-promo-----*/

/*-----hlr-what-----*/
.sms-what{
    min-height: 135px;
    background: #65b0e6;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    text-align: center;
}
.sms-what__wrap{
    padding: 40px 10px;
    max-width: 920px;
    margin: 0 auto;
}
.sms-what__wrap>div{
    text-align: left;
}
.sms-what .hlr-link{
    color: #fff;
}
.sms-what .hlr-link:hover{
    color: #fff;
}
.sms-what .site__title{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    margin-bottom: 17px;
    color: #fff;
}
.sms-what__pic{
    float: left;
    margin: 0 15px 10px 0;
}
/*-----/hlr-what-----*/

/*-----sms-best-----*/
.sms-best{
    padding: 40px 10px;
    max-width: 920px;
    margin: 0 auto;
}
.sms-best__item{
    margin-bottom: 30px;
}
.sms-best__pic{
    width: 72px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}
.sms-best__description{
    width: calc(100% - 100px);
    display: inline-block;
    vertical-align: middle;
}
/*-----/sms-best-----*/

/*-----mass-mailing-----*/
.mass-mailing{
    padding: 40px 10px;
    max-width: 920px;
    margin: 0 auto;
    text-align: center;
}
.mass-mailing p{
    text-align: left;
}
.mass-mailing__item{
    display: block;
    position: relative;
    padding: 20px 10px;
    margin-bottom: 20px;
    border: 1px solid #65b0e6;
    border-radius: 5px;
    font-size: 14px;
    color: #195b8a;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
}
.mass-mailing__item:hover{
    color: #195b8a;
    text-decoration: none;
}
.mass-mailing__name{
    min-height: 80px;
    padding: 0 0 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #717171;
}
.mass-mailing__wrap{
    margin-top: 30px;
}
.mass-mailing__name div{
    width: 24%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    text-align: center;
}
.mass-mailing__title{
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    color:#65b0e6;
    font-size: 17px;
    text-transform: uppercase;
}
.mass-mailing__hover{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    bottom: 0;
    height: 203px;
    width: 100%;
    left: 0;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    background: rgba(75, 76, 76, 0.97);
    color: #fff;
    transition: opacity .3s ease, visibility .3s ease;
    -webkit-transition: opacity .3s ease, visibility .3s ease;
}
/*-----/mass-mailing-----*/

/*-----write-----*/
.write{
    background: #eff7fc;
}
.write__wrap{
    padding: 40px 10px;
    max-width: 920px;
    margin: 0 auto;
    text-align: center;
    color: #565656;
}
.write__wrap h2{
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
}
.write__wrap input{
    height: 59px;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 10px;
    border-radius: 5px;
    border: 2px solid #dedede;
    background: #fff;
    color: #565656;
}
/*-----/write-----*/

/*-----clients-----*/
.clients{
    padding: 40px 10px;
    max-width: 920px;
    margin: 0 auto;
    text-align: center;
}
.clients__wrap{
    position: relative;
    padding: 0 30px;
}
.clients__item{
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    text-align: left;
    color: #195b8a;
    line-height: 20px;
}
.clients__pic{
    display: inline-block;
    vertical-align: middle;
    width: 103px;
    height: 103px;
    margin-right: 22px;
    margin-bottom: 10px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
}
.clients_2fa .clients__pic{
    border: 2px solid #e8a37c;
}
.clients__item p {
    margin-bottom: 20px;
}
.clients__item span{
    font-size: 18px;
    color:#65b0e6;
}
.clients__description{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}
.clients_next,
.clients_prev{
    position: absolute;
    top: 50%;
    margin-top: -28px;
    width:20px;
    height: 57px;
    background: url("../img/clients-prev.png") no-repeat center;
    background-size: contain;
    cursor: pointer;
}
.clients_prev{
    left: 0;
}
.clients_next{
    background: url("../img/clients-next.png") no-repeat center;
    background-size: contain;
    right: 0;
}
.clients_2fa .clients__item span {
    font-style: italic;
}
/*-----/clients-----*/

/*-----our-service-----*/
.our-service{
    padding-top: 40px;
    text-align: center;
}
.our-service__wrap{
    max-width: 920px;
    margin: 0 auto;
    padding: 0 10px;
}
.our-service .site__title{
    color: #fff;
}
.our-service__wrap:after{
    display: inline-block;
    width: 100%;
    content: "";
}
.our-service__item{
    display: block;
    vertical-align: top;
    height: 353px;
    margin-bottom: 13px;
    text-align: left;
}
.our-service__item-inside{
    height: 105px;
    width: 100%;
    margin-bottom: 19px;
    border-radius: 5px;
    background: #fff;
}
.our-service__item_one{
    position: relative;
    width: 100%;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    background: #fff;
    color: #000;
    line-height: 21px;
}
.our-service__name{
    position: relative;
    top: 50%;
    padding: 15px;
    transform: translateY(-50%);
}
.our-service__name div{
    width: 24%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    text-align: center;
}
.our-service__name>span{
    display: inline-block;
    vertical-align: middle;
    width: 67%;
    color:#000;
    font-size: 14px;
}
.our-service__name-big{
    font-size: 28px;
}
.our-service__name-block{
    display: block;
}
.our-service__price{
    font-size: 34px;
}
.our-service__price span{
    margin-top: 7px;
    margin-bottom: 15px;
    display: block;
    font-size: 14px;
}
.our-service__low-price{
    font-size: 12px;
    margin-bottom: 17px;
}
.our-service__low-price span{
    display: block;
}
.our-service__low-price span:first-child{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.5px;
}
.our-service__all-price{
    color: #195b8a;
}
.our-service__all-price:hover{
    color: #195b8a;
    text-decoration: none;
}
/*-----/our-service-----*/

/*-----get-promo-----*/
.get-promo{
    width: 100%;
    background: #0092D5;
    font-size: 20px;
    line-height: 30px;
    color:#fff;
}
.get-promo__wrap{
    position: relative;
    height: 400px;
    padding: 20px 10px;
    background: no-repeat bottom;
    background-size: 336px 187px;
    background-position: 50% 100%;
}
.get-promo__wrap div{
    position: relative;
    max-width: 920px;
    height: 100%;
    margin: 0 auto;
}
.get-promo__wrap h3{
    margin-bottom: 15px;
    text-transform: uppercase;
}
.get-promo__title{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: -1.6px;
}
/*-----/get-promo-----*/

/*-----need-gateway-----*/
.need-gateway{
    padding: 40px 10px 0;
    max-width: 920px;
    margin: 0 auto;
    text-align: justify;
}
.need-gateway:after{
    display: inline-block;
    width: 100%;
    content: "";
}
.need-gateway .site__title{
    text-align: center;
}
.need-gateway__service{
    display: block;
    vertical-align: top;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    text-align: right;
}
.need-gateway__advertising{
    position: relative;
    display: block;
    vertical-align: top;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    text-align: left;
}
.need-gateway__title{
    padding: 0 25px;
    margin-bottom: 20px;
    font-size: 22px;
    text-transform: uppercase;
}
.need-gateway__title span{
    display: block;
    font-size: 18px;
}
.need-gateway__branch{
    position: relative;
    display: inline-block;
    width: 114px;
    height: 34px;
    margin-bottom: 28px;
    border-bottom: 2px solid #ebebeb;
}
.need-gateway__branch span{
    position: absolute;
    bottom: -14px;
    height: 14px;
    width: 2px;
    background: #ebebeb;
}
.need-gateway__service .need-gateway__branch span{
    left: 0;
}
.need-gateway__advertising .need-gateway__branch span{
    right: 0;
}
.need-gateway__service .need-gateway__branch{
    border-right: 2px solid #ebebeb;
}
.need-gateway__advertising .need-gateway__branch{
    border-left: 2px solid #ebebeb;
}
.need-gateway__branch:after,
.need-gateway__branch:before{
    position: absolute;
    width: 5px;
    height: 5px;
    box-shadow: 0 0 0 2px #ebebeb;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #f2a981;
    content: "";
}
.need-gateway__service .need-gateway__branch:before{
    top: -11px;
    right: -6px;
}
.need-gateway__service .need-gateway__branch:after{
    bottom: -19px;
    left: -4px;
}
.need-gateway__advertising .need-gateway__branch:before{
    top: -11px;
    left: -6px;
}
.need-gateway__advertising .need-gateway__branch:after{
    bottom: -19px;
    right: -4px;
}
.need-gateway__branch-down{
    position: relative;
    display: inline-block;
    width: 114px;
    height: 14px;
    margin-bottom: 25px;
    border-bottom: 2px solid #ebebeb;
}
.need-gateway__service .need-gateway__branch-down{
    border-left: 2px solid #ebebeb;
}
.need-gateway__advertising .need-gateway__branch-down{
    border-right: 2px solid #ebebeb;
}
.need-gateway__branch-down:before{
    position: absolute;
    width: 2px;
    height: 639px;
    background: #ebebeb;
    content: "";
}
.need-gateway__branch-down:after{
    position: absolute;
    width: 5px;
    height: 5px;
    box-shadow: 0 0 0 2px #ebebeb;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #f2a981;
    content: "";
}
.need-gateway__service .need-gateway__branch-down:before{
    top: 13px;
    right: 0;
}
.need-gateway__service .need-gateway__branch-down:after{
    top: -7px;
    left: -5px;
}
.need-gateway__advertising .need-gateway__branch-down:before{
    top: 13px;
    left: 0;
}
.need-gateway__advertising .need-gateway__branch-down:after{
    top: -7px;
    right: -5px;
}
.need-gateway__item{
    line-height: 22px;
}
.need-gateway__pic {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 60px;
    height: 90px;
    margin: 0 10px 50px;
    background: no-repeat center;
    background-size: 80%;
    border: 2px solid #ebebeb;
}
.need-gateway__pic:after{
    position: absolute;
    top: 50%;
    width: 10px;
    height: 2px;
    margin-top: -1px;
    background: #ebebeb;
    content: "";
}
.need-gateway__service .need-gateway__pic:after{
    right: -10px;
}
.need-gateway__advertising .need-gateway__pic:after{
    left: -10px;
}
.need-gateway__description{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 85px);
}
.need-gateway__description h3{
    font-size: 14px;
    color: #65b0e6;
    text-transform: uppercase;
}
.need-gateway__name{
    display: block;
    font-size: 14px;
    color: #65b0e6;
    text-transform: uppercase;
}
.need-gateway__text{
    display: block;
    color: #195b8a;
    font-size: 14px;
    line-height: 19px;
}
.need-gateway_2fa{
    text-align: center;
}
.need-gateway_2fa .need-gateway__branch-down {
    width: 50%;
    height: 24px;
}
.need-gateway_2fa .need-gateway__advertising:before {
    position: absolute;
    top: 22px;
    left: 0;
    width: 2px;
    height: calc(100% - 131px);
    background: #ebebeb;
    content: "";
}
.need-gateway_2fa .need-gateway__branch-down:before{
    display: none;
}
.need-gateway_2fa .need-gateway__item {
    margin-bottom: 30px;
}
.need-gateway_2fa .need-gateway__pic {
    float: left;
    display: inherit;
    vertical-align: top;
    position: relative;
    width: 90px;
    height: 90px;
    margin: 0 10px 0;
    background-size: inherit;
}
.need-gateway_2fa .need-gateway__description {
    display: block;
    width: 100%;
    padding-left: 10px;
}
.need-gateway_2fa .need-gateway__branch-down {
    margin-bottom: 16px;
}
/*-----/need-gateway-----*/

/*-----advantages-----*/
.advantages{
    padding-top: 40px;
    background: #65b0e6;
    color: #fff;
}
.advantages__wrap{
    position: relative;
    padding: 0 10px 40px;
    max-width: 922px;
    margin: 0 auto;
}
.advantages__wrap:after{
    position: absolute;
    bottom: -18px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    pointer-events: none;
    border-color: rgba(163, 163, 163, 0);
    border-top-color: #65b0e6;
    border-width: 20px 20px 0 20px;
    left: 100px;
}
.advantages .site__title{
    margin-bottom: 17px;
    text-transform: inherit;
    color: #fff;
}
.advantages .hlr-link{
    color: #fff;
}
.advantages .hlr-link:hover{
    color: #fff;
}
.advantages p{
    line-height: 20px;
}
/*-----advantages-----*/

/*-----advantages-description-----*/
.advantages-description{
    padding: 20px 0 40px;
    background:no-repeat center bottom;
    background-size: cover;
    color: #fff;
    text-align: center;
}
.advantages-description__wrap{
    padding: 0 10px 20px;
    max-width: 922px;
    margin: 20px auto 0;
    text-align: left;
}
.advantages-description__wrap li{
    position: relative;
    padding-left: 20px;
    font-size: 16px;
    line-height: 32px;
}
.advantages-description__wrap li:before{
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 22px;
    content: "#";
}
/*-----advantages-description-----*/

/*-----platform-----*/
.platform {
    padding: 40px 10px 160px;
    max-width: 1101px;
    margin: 0 auto;
    background: no-repeat;
    background-size: 240px 280px;
    background-position: 50% calc(150px + 92%);
}
.platform p{
    font-size: 16px;
    line-height: 20px;
}
.platform .site__title{
    margin-bottom: 10px;
}
/*-----/platform-----*/

/*-----test-delivery-----*/
.test-delivery{
    padding-top: 40px;
    position: relative;
    background: #f4f9fd;
}
.test-delivery__wrap{
    padding: 0 10px 2px;
    max-width: 920px;
    margin: 0 auto;
}
.test-delivery__wrap{
    text-align: justify;
}
.test-delivery__wrap:after{
    display: inline-block;
    width: 100%;
    content: '';
}
.test-delivery__item{
    width: 48%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
    text-align: center;
}
.test-delivery__pic{
    display: block;
    height: 90px;
    width: 90px;
    margin: 0 auto 10px;
    border: 1px solid #65b0e6;
    border-radius: 50%;
    background: no-repeat center;
}
.test-delivery .site__title{
    text-align: center;
}
/*-----/test-delivery-----*/

/*-----help-stage-----*/
.help-stage{
    padding: 40px 10px;
    max-width: 920px;
    min-height: 135px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 18px;
}
.help-stage__pic{
    float: left;
    width: 70px;
    margin: 0 15px 10px 0;
}
.help-stage__wrap div{
}
/*-----/help-stage-----*/

/*-----check-in-----*/
.check-in{
    background: #65b0e6;
}
.check-in__wrap{
    position: relative;
    padding: 40px 10px;
    max-width: 920px;
    margin: 0 auto;
    text-align: center;
}
.check-in__wrap span{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: 10px 0;
}
.check-in__wrap .btn{
    vertical-align: middle;
}
/*-----/check-in-----*/

@media (min-width: 767px) {

    body {
        min-width: inherit;
    }

    /*-----site-----*/
    .site__title{
        margin-bottom: 26px;
    }
    /*-----/site-----*/

    /*-----hlr-promo-----*/
    .hlr-promo {
        font-size: 24px;
    }
    .hlr-promo__title{
        width: 60%;
        font-size: 58px;
        line-height: 65px;
        margin-bottom: 10px;
    }
    .hlr-promo__wrap{
        padding-top: 74px;
        background-size: 549px 354px;
        background-position: 196% 100%;
    }
    .hlr-promo__wrap p{
        width: 60%;
    }
    .hlr-promo__wrap div{

    }
    .promo-2fa .hlr-promo__title {
        font-size: 50px;
        line-height: 65px;
        letter-spacing: 0;
    }
    .promo-2fa .hlr-promo__wrap {
        padding-top: 30px;
        background-size: 314px 189px;
        background-position: 96% 101%;
    }
    .promo-2fa .btn {
        font-size: 20px;
    }
    .promo-2fa .btn_5 {
        left: 194px;
    }
    .promo-2fa .btn_1 {

    }
    .promo-2fa .sms-promo__sub-title {
        width: 58%;
    }
    /*-----/hlr-promo-----*/

    /*-----btn-----*/
    .btn {
        display: inline-block;
        padding: 17px 18px;
        height: 60px;
        font-size: 21px;
    }
    .btn_1{
        position: absolute;
        bottom: 30px;
        left: 10px;
    }
    .btn_2{
        margin-top: 31px;
        padding: 17px 47px;
    }
    .btn_3{
        height: 58px;
        padding-top: 14px;
    }
    .btn_4{
        text-align: center;
        font-size: 15px;
        height: 45px;
        padding: 8px 5px;
    }
    .btn_5{
        position: absolute;
        bottom: 30px;
        left: 250px;
    }
    .btn_6{
        padding: 15px 38px;
    }
    /*-----/btn-----*/

    /*-----hlr-what-----*/
    .hlr-what{
        padding: 35px 10px;
    }
    .hlr-what__pic {
        margin: 0 33px 10px 0;
    }
    /*-----/hlr-what-----*/

    /*-----hlp-lookup-----*/
    .hlp-lookup{
        padding: 60px 10px 40px;
    }
    .hlp-lookup__pic{
        display: inline-block;
        vertical-align: top;
        width: 40%;
        margin: 0;
    }
    .hlp-lookup__content{
        width: 59%;
        display: inline-block;
        vertical-align: top;
    }
    /*-----/hlp-lookup-----*/

    /*-----service-----*/
    .service__wrap{
        margin-top: -23px;
        padding-top: 58px;
        text-align: justify;
    }
    .service__wrap:after{
        display: inline-block;
        width: 100%;
        content: "";
    }
    .service__item{
        width: 19%;
        display: inline-block;
        vertical-align: top;
        text-align: left;
        line-height: 18px;
    }
    /*-----/service-----*/

    /*-----who-needs-----*/
    .who-needs__wrap{
        padding: 60px 44% 40px 10px;
        background-size: 332px 391px;
        background: no-repeat center right;
    }
    /*-----/who-needs-----*/

    /*-----register-----*/
    .register__wrap {
        position: relative;
        padding: 60px 10px 40px 200px;
    }
    .register__pic{
        position: absolute;
        top: 60px;
        left: 10px;
    }
    /*-----/register-----*/

    /*-----relive-----*/
    .relive__wrap {
        position: relative;
        padding: 60px 200px 40px 10px;
    }
    .relive__pic{
        position: absolute;
        top: 35px;
        right: 10px;
    }
    /*-----/relive-----*/

    /*-----any-questions-----*/
    .any-questions__wrap {
        min-height: 100px;
        padding: 41px 10px 44px 97px;
        line-height: 19px;
        letter-spacing: 1px;
    }
    .any-questions__wrap:before {
        top: 50%;
        width: 64px;
        height: 64px;
        transform: translateY(-50%);
    }
    /*-----/any-questions-----*/

    /*-----through-----*/
    .through{
        padding: 60px 10px 40px;
    }
    .through__wrap{
        text-align: justify;
    }
    .through__wrap:after{
        display: inline-block;
        width: 100%;
        content: '';
    }
    .through__item{
        width: 28%;
        display: inline-block;
        vertical-align: top;
    }
    .through__pic{
        height: 120px;
        margin-bottom: 22px;
    }
    /*-----/through-----*/

    /*-----hlr-promo-----*/
    .sms-promo {
        font-size: 24px;

    }
    .sms-promo__title{
        font-size: 61px;
        line-height: 65px;
        margin-bottom: 8px;
        letter-spacing: 2px;
    }
    .sms-promo__wrap{
        padding-top: 74px;
        background-size: 400px 316px;
        background-position: 100% 100%;
    }
    .sms-promo__wrap p{
        width: 50%;
        font-size: 16px;
    }
    .sms-promo .btn_1 {
        bottom: 62px;
    }
    .sms-promo__sub-title {
        display: block;
        width: 60%;
        margin-bottom: 31px;
        font-size: 30px;
        letter-spacing: 1.4px;
    }
    /*-----/hlr-promo-----*/

    /*-----hlr-what-----*/
    .sms-what{
        padding: 0 10px;
    }
    .sms-what__pic {
        display: inline-block;
        vertical-align: middle;
        float: none;
        width: 64px;
        margin: 0 27px 10px 0;
    }
    .sms-what__wrap>div{
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 97px);
    }
    /*-----/hlr-what-----*/

    /*-----sms-best-----*/
    .sms-best {
        padding: 60px 10px 19px;
    }
    .sms-best__item{
        display: inline-block;
        vertical-align: top;
        width: 45%;
        margin-right: 6%;
        margin-bottom: 60px;
    }
    .sms-best .sms-best__item:nth-child(even){
        margin-right: 0;
    }
    /*-----/sms-best-----*/

    /*-----mass-mailing-----*/
    .mass-mailing{
        padding: 58px 10px;
    }
    .mass-mailing__item{
        display: inline-block;
        vertical-align: top;
        width: 46%;
        height: 303px;
        margin-right: 7%;
        margin-bottom: 60px;
        overflow: hidden;
    }
    .mass-mailing__wrap .mass-mailing__item:nth-child(even){
        margin-right: 0;
    }
    .mass-mailing__wrap{
        margin-top: 71px;
        text-align: left;
    }
    .mass-mailing .btn{
        margin-top: -11px;
    }
    .mass-mailing__item:hover .mass-mailing__hover{
        opacity: 1;
        visibility: visible;
    }
     /*-----/mass-mailing-----*/

    /*-----write-----*/
    .write__wrap{
        padding: 40px 10px;
    }
    .write__wrap h2{
        margin-bottom: 43px;
        font-size: 25px;
        line-height: 30px;
    }
    .write__wrap input {
        display: inline-block;
        vertical-align: top;
        width: 544px;
        margin-right: 3%;
    }
    /*-----/write-----*/

    /*-----our-service-----*/
    .our-service{
        padding-top: 52px;
    }
    .our-service__wrap{
        padding: 31px 10px 43px;
        text-align: justify;
    }
    .our-service__item>div{
    }
    .our-service__item{
        width: 33%;
        display: inline-block;
    }
    .our-service__item_one {
         width: 32%;
         line-height: 21px;
         padding: 10px 10px 20px 10px;
     }
    .our-service__name {
        padding-left: 7px;
    }
    /*-----/our-service-----*/

    /*-----clients----*/
    .clients {
        padding: 60px 10px 70px;
    }
    .clients__wrap {
        padding: 20px 40px 0;
    }
    .clients__description {
        width: calc(100% - 130px);
    }
    .clients_next, .clients_prev {
        width: 30px;
    }
    .clients_2fa .clients__wrap{
        padding: 20px 40px 40px;
    }
    /*-----/clients-----*/

    /*-----get-promo-----*/
    .get-promo {
        font-size: 24px;
    }
    .get-promo__title{
        width: 60%;
        font-size: 58px;
        line-height: 67px;
        margin-bottom: 10px;
    }
    .get-promo__wrap{
        padding-top: 36px;
        background-size: 450px 370px;
        background-position: 100% 100%;
    }
    .get-promo__wrap h3{
        width: 60%;
    }
    /*-----/get-promo-----*/

    /*-----advantages-----*/
    .advantages {
        padding-top: 0;
    }
    .advantages__wrap {
        padding: 40px 10px 43px;
    }
    /*-----/advantages-----*/

    /*-----advantages-description-----*/
    .advantages-description{
        padding-bottom: 40px;
    }
    .advantages-description__wrap {
        padding: 0 10px 22px;
    }
    .advantages-description__wrap li {
        position: relative;
        padding-left: 20px;
        font-size: 22px;
        line-height: 50px;
    }
    .advantages-description .btn{
        padding: 15px 41px;
    }
    /*-----/advantages-description-----*/

    /*-----need-gateway-----*/
    .need-gateway {
        padding: 54px 10px 20px;
    }
    .need-gateway__pic {
        width: 75px;
        height: 90px;
        margin: 0 10px 50px;
        background-size: inherit;
    }
    .need-gateway__description{
        width: calc(100% - 100px);
    }
    .need-gateway__description h3 {
        margin-bottom: 12px;
        font-size: 16px;
    }
    .need-gateway__name{
        margin-bottom: 12px;
        font-size: 16px;
    }
    .need-gateway__text {
        font-size: 14px;
    }
    .need-gateway__service {
        display: inline-block;
        width: 48%;
        max-width: inherit;
    }
    .need-gateway__advertising {
        display: inline-block;
        width: 48%;
        max-width: inherit;
    }
    .need-gateway_2fa .need-gateway__advertising {
        display: block;
        width: 100%;
    }
    .need-gateway_2fa .btn {
         padding: 15px 41px;
     }
    .need-gateway_2fa .need-gateway__description {
        display: inline-block;
        width: calc(100% - 170px);
        padding-left: 0;
    }
    .need-gateway_2fa .need-gateway__pic {
        float: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        width: 90px;
        height: 90px;
        margin: 0 20px 50px;
    }
    .need-gateway_2fa .need-gateway__item {
        margin-bottom: 0;
    }
    .need-gateway_2fa .need-gateway__advertising:before {
        height: calc(100% - 116px);
    }
    .need-gateway_2fa .need-gateway__pic:after {
        width: 20px;
    }
    .need-gateway_2fa .need-gateway__advertising .need-gateway__pic:after {
        left: -20px;
    }
    /*-----/need-gateway-----*/

    /*-----platform-----*/
    .platform {
        padding: 60px 10px 40px 280px;
        background-size: 240px 280px;
        background-position: 10px 60px;
    }
    .platform .site__title {
        margin-bottom: 29px;
    }
    /*-----/platform-----*/

    /*-----test-delivery-----*/
    .test-delivery{
        padding: 40px 10px 0;
    }
    .test-delivery__item{
        width: 20%;
        line-height: 21px;
    }
    .test-delivery__pic{
        margin-bottom: 15px;
    }
    .test-delivery_2fa .test-delivery__item{
        width: 29%;
        margin-bottom: 50px;
    }
    /*-----/test-delivery-----*/

    /*-----help-stage-----*/
    .help-stage{
        padding: 35px 10px;
    }
    .help-stage__pic {
        width: 109px;
        float: none;
        display: inline-block;
        vertical-align: middle;
        margin: 0 37px 10px 0;
    }
    .help-stage__wrap div{
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 160px);
        padding-top: 15px;
        font-size: 16px;
        line-height: 24px;
    }
    /*-----/help-stage-----*/

    /*-----check-in-----*/
    .check-in__wrap {
        padding: 35px 10px 36px 10px;
    }
    .check-in__wrap span {
        width: inherit;
    }
    .check-in__wrap .btn{
        padding: 15px 64px;
        margin-right:30px;
        margin-left: 22px;
    }
    .check-in__wrap .btn_6{
        padding: 15px 39px;
        margin-left: 30px;
    }
    /*-----/check-in-----*/
}
@media (min-width: 920px) {

    /*-----hlr-promo-----*/
    .hlr-promo__wrap{
        max-width: 1463px;
        margin: 0 auto;
        background-position: 125% 100%;
    }
    .promo-2fa .hlr-promo__wrap {
        padding-top: 30px;
        background-size: 407px 236px;
    }
    .promo-2fa .hlr-promo__wrap {
        max-width: 1425px;
    }
    /*-----/hlr-promo-----*/

    /*-----register-----*/
    .register__wrap {
        padding: 54px 10px 40px 285px;
    }
    .register__pic{
        position: absolute;
        top: 60px;
        left: 10px;
        width: 224px;
    }
    /*-----/register-----*/

    /*-----relive-----*/
    .relive__wrap {
        min-height: 332px;
        padding: 60px 300px 40px 10px;
    }
    .relive__pic{
        position: absolute;
        top: 60px;
        width: 164px;
    }
    /*-----/relive-----*/

    /*-----our-service-----*/
    .our-service__item {
        width: 33.2%;
    }
    .our-service__item_one{
        width: 28.8%;
        padding: 20px 10px 20px 20px;
    }
    .our-service__item_one {
        padding: 20px 10px 20px 20px;
    }
    /*-----/our-service-----*/

    /*-----write-----*/
    .write .btn{
        padding: 14px 46px;
    }
    /*-----/write-----*/

    /*-----get-promo-----*/
    .get-promo__wrap{
        max-width: 1741px;
        margin: 0 auto;
    }
    /*-----/get-promo-----*/

    /*-----need-gateway-----*/
    .need-gateway__pic:after {
        width: 20px;
    }
    .need-gateway__service .need-gateway__pic:after {
        right: -20px;
    }
    .need-gateway__advertising .need-gateway__pic:after{
        left: -20px;
    }
    .need-gateway__description {
        width: calc(100% - 120px);
    }
    .need-gateway__pic {
        width: 75px;
        height: 90px;
        margin: 0 20px 50px;
    }
    /*-----/need-gateway-----*/

    /*-----check-in-----*/
    .check-in__wrap .btn{
        padding: 15px 64px;
        margin-right:53px;
        margin-left: 22px;
    }
    .check-in__wrap .btn_6{
        padding: 15px 39px;
        margin-left: 58px;
    }
    /*-----/check-in-----*/

}
@media (min-width: 1200px) {

    /*-----hlr-promo__wrap-----*/
    .hlr-promo__wrap {
        background-position: 100% 100%;
    }
    .hlr-promo__title {
        font-size: 65px;
    }
    .hlr-promo__wrap .sms-promo__sub-title {
        width: 65%;
    }
    .promo-2fa .hlr-promo__wrap {
        padding-top: 67px;
        background-size: 481px 276px;
        background-position: 100% 103%;
    }
    .promo-2fa .btn_5 {
        bottom: 20px;
        left: 358px;
    }
    .promo-2fa .hlr-promo__title {
        margin-bottom: 3px;
        font-size: 65px;
        line-height: 79px;
        letter-spacing: -1px;
    }
    .promo-2fa .hlr-promo__wrap .sms-promo__sub-title {
        width: 75%;
    }
    .promo-2fa .btn_1 {
        bottom: 20px;
        padding: 17px 51px;
    }
    .promo-2fa .btn {
        font-size: 21px;
    }
    /*-----/hlr-promo__wrap-----*/

    /*-----who-needs-----*/
    .who-needs__wrap{
        max-width: 1186px;
        padding: 52px 350px 46px 136px;
    }
    /*-----/who-needs-----*/

    /*-----btn-----*/
    .btn_1 {
         bottom: 28px;
         left: 1px;
     }
    .btn_5 {
        bottom: 76px;
        left: 379px;
        padding: 17px 29px;
    }
    /*-----/btn-----*/

    /*-----hlp-lookup-----*/
    .hlp-lookup{
        padding: 56px 10px 0 0;
    }
    .hlp-lookup__pic {
        width: 549px;
        margin-top: -19px;
    }
    .hlp-lookup__content {
        width: 45%;
        display: inline-block;
        vertical-align: top;
        margin-left: -12px;
    }
    .hlp-lookup .site__title {
        margin-bottom: 25px;
    }
    /*-----/hlp-lookup-----*/

    /*-----service-----*/
    .service__wrap {
        margin-top: -23px;
        padding: 61px 45px 9px 0;
    }
    /*-----/service-----*/

    /*-----hlr-what-----*/
    .hlr-what {
        padding: 39px 0;
    }
    /*-----/hlr-what-----*/

    /*-----register-----*/
    .register__pic {
        left: 2px;
    }
    .register .site__title{
        margin-bottom: 32px;
    }
    /*-----/register-----*/

    /*-----relive-----*/
    .relive .site__title{
        margin-bottom: 32px;
    }
    .relive__wrap {
        min-height: 350px;
        padding: 55px 380px 40px 0;
    }
    .relive__pic {
        right: 142px;
    }
    /*-----/relive-----*/

    /*-----through-----*/
    .through {
        padding: 52px 0 0;
    }
    .through .site__title {
        margin-bottom: 34px;
    }
    .through__pic {
        margin-left: 0;
    }
    .through__item {
        text-align: left;
    }
    /*-----/through-----*/

    /*-----any-questions-----*/
    .any-questions__wrap:before {
        left: 3px;
    }
    /*-----/any-questions-----*/

    /*-----sms-what-----*/
    .sms-what {
        padding: 13px 0 20px;
    }
    .sms-what__wrap {
        padding: 20px 0;
    }
    /*-----/sms-what-----*/

    /*-----sms-promo-----*/
    .sms-promo__wrap {
        padding: 74px 0 0;
        background-size: 492px 378px;
        background-position: 95% 100%;
    }
    /*-----/sms-promo-----*/

    /*-----sms-best-----*/
    .sms-best {
        padding: 80px 0 20px;
    }
    /*-----/sms-best-----*/

    /*-----mass-mailing-----*/
    .mass-mailing {
        padding: 54px 0 51px;
    }
    .mass-mailing .site__title{
        margin-bottom: 38px;
    }
    .mass-mailing__item {
        width: 44%;
    }
    /*-----/mass-mailing-----*/

    /*-----clients----*/
    .clients {
        padding: 56px 0 70px;
    }
    .clients__wrap {
        padding: 20px 90px 0;
    }
    .clients_2fa .clients__wrap{
        padding: 29px 90px 0;
    }
    .clients_2fa .clients__pic {
        vertical-align: top;
    }
    /*-----clients----*/

    /*-----write----*/
    .write__wrap {
        padding: 49px 0 40px;
    }
    .write__wrap input {
        margin-right: 2%;
        margin-left: 47px;
    }
    /*-----/write----*/

    /*-----our-service----*/
    .our-service__wrap {
        padding: 31px 0 43px;
    }
    /*-----/our-service----*/

    /*-----get-promo-----*/
    .get-promo__wrap {
        background-position: 100% 50%;
        background-size: 891px 508px;
    }
    .get-promo__title {
        font-size: 65px;
    }
    .get-promo__wrap h3 {
        width: 69%;
    }
    .get-promo .btn_1 {
        bottom: 71px;
        padding: 17px 55px;
    }
    .get-promo .btn_5{
        bottom: 71px;
    }
    /*-----/get-promo-----*/

    /*-----platform-----*/
    .platform {
        padding: 73px 114px 74px 517px;
        background-size: 480px 561px;
        background-position: 0 60px;
    }
    /*-----/platform-----*/

    /*-----test-delivery-----*/
    .test-delivery__wrap {
        padding: 20px 0 2px;
    }
    .test-delivery {
        padding: 54px 0 0;
    }
    .test-delivery .site__title {
        margin-bottom: 20px;
    }
    .test-delivery__item {
        width: 23%;
        padding-right: 60px;
        line-height: 21px;
        text-align: left;
    }
    .test-delivery_2fa .test-delivery__item{
        margin-top: 34px;
        margin-bottom: 37px;
    }
    .test-delivery_2fa  .test-delivery__wrap {
        padding: 0;
    }
    /*-----/test-delivery-----*/

    /*-----help-stage-----*/
    .help-stage {
        padding: 53px 0;
    }
    .help-stage .site__title{
        margin-bottom: 32px;
    }
    /*-----/help-stage-----*/

    /*-----need-gateway-----*/
    .need-gateway {
        padding: 54px 0 15px;
    }
    .need-gateway__pic {
        width: 90px;
    }
    .need-gateway__description {
        width: calc(100% - 135px);
    }
    .need-gateway__service {
        width: 46.4%;
    }
    .need-gateway__advertising {
        width: 45.4%;
    }
    .need-gateway_2fa .need-gateway__advertising {
        width: 100%;
    }
    .need-gateway_2fa .need-gateway__description {
        width: calc(100% - 200px);
    }
    /*-----/need-gateway-----*/

    /*-----advantages-----*/
    .advantages__wrap {
        padding: 40px 0 36px;
    }
    /*-----/advantages-----*/
    .test-delivery__pic {
        margin-left: 0;
    }

    /*-----advantages-description-----*/
    .advantages-description__wrap {
        padding: 0 6px 23px;
    }
    /*-----/advantages-description-----*/

    .sms-promo__wrap p {
        width: 44%;
    }

}
@media screen and (max-width: 880px){
    .site-footer {
        margin: 0 auto 0;
        height: auto;
    }
}
