*{-moz-box-sizing:border-box;box-sizing:border-box;}
.site-container {padding: 157px 0 0 0;}

/* --------------- placeholder --------------- */
.write ::-webkit-input-placeholder {
    color: #f0f0f0;
}
.write :-moz-placeholder {
    color: #f0f0f0;
}
.write .placeholder {
    color: #f0f0f0;
}
/* --------------- /placeholder --------------- */

.site-footer {
    margin: 0 auto 0;
}

.site-content {
    min-width: 320px;
    color: #195b8a;
    font-size: 16px;
    line-height: 24px;
}
.site__title{
    margin-bottom: 10px;
    color: #65b0e6;
    font-size: 25px;
    line-height: 25px;
    font-weight: 600;
    text-transform: uppercase;
}
.hlr-link{
    color: #195b8a;
    font-family: RobotoRegular, sans-serif;
    font-weight: 400;
    text-decoration: none;
}
.hlr-link:hover{
    text-decoration: underline;
}
/*-----hlr-promo-----*/
.hlr-promo{
    width: 100%;
    height: 376px;
    background: #3f5562 url("pic/hlr-promo-bg.jpg") no-repeat center;
    font-size: 20px;
    line-height: 30px;
    color:#fff;
}
.hlr-promo__wrap{
    position: relative;
    height: 376px;
    padding: 20px 10px;
    background: url("pic/hlr-promo-hand.png") no-repeat bottom;
    background-size: 275px 177px;
    background-position: 100% 100%;

}
.hlr-promo__wrap div{
    position: relative;
    max-width: 920px;
    height: 100%;
    margin: 0 auto;
}
.hlr-promo__wrap h3{
    margin-bottom: 15px;
    text-transform: uppercase;
}
.hlr-promo__title{
    font-size: 35px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -1.6px;
}
/*-----/hlr-promo-----*/

.hlp-lookup{
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}
.hlp-lookup__content{
    font-size: 16px;
    line-height: 24px;
    color: #195b8a;
}
.hlp-lookup__pic{
    width: 300px;
    margin: 0 auto;
}
.hlp-lookup__pic img{
    width: 100%;
    height: auto;
}

/*-----service-----*/
.service{
    background: #f4f9fd;
}
.service__wrap{
    padding: 20px 10px;
    max-width: 920px;
    margin: 0 auto;
}
.service__item{
    margin-bottom: 20px;
    font-size: 12px;
    color: #195b8a;
}
.service__item span{
    display: block;
    margin-bottom: 22px;
    font-size: 24px;
    font-family: 'RobotoBold', sans-serif;
    font-weight: 700;
}
/*-----/service-----*/

/*-----hlr-what-----*/
.hlr-what{
    padding: 20px 10px;
    max-width: 920px;
    min-height: 135px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 18px;
}
.hlr-what .site__title{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    margin-bottom: 17px;
}
.hlr-what__pic{
    float: left;
    margin: 0 15px 10px 0;
}
/*-----/hlr-what-----*/

/*-----who-needs-----*/
.who-needs{
    min-height: 135px;
    overflow: hidden;
    background:#f4f9fd;
}
.who-needs__wrap{
    padding: 20px 10px;
    max-width: 920px;
    margin: 0 auto;
    background-size: 0;
}
.who-needs ul{
    margin-left: 21px;
    line-height: 20px;
    font-size: 16px;
}
.who-needs ul li{
    margin-bottom: 11px;
}
.who-needs__title{
    font-size: 20px;
    line-height: 21px;
    margin-bottom: 13px;
}
/*-----/who-needs-----*/

/*-----register-----*/
.register{

}
.register__wrap{
    padding: 20px 10px;
    max-width: 920px;
    margin: 0 auto;
}
.register__pic{

}
.register__pic{
    width: 170px;
    height: auto;
    display: block;
    margin: 0 auto 15px;
}
/*-----/register-----*/

/*-----relive-----*/
.relive{
    background: #f4f9fd;
}
.relive__wrap{
    padding: 20px 10px;
    max-width: 920px;
    margin: 0 auto;
    min-height: 260px;
}
.relive__pic{

}
.relive__pic{
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto 15px;
}
/*-----/relive-----*/

/*-----any-questions-----*/
.any-questions{
    background: #65b0e6;
    color: #fff;
    font-size: 15px;
}
.any-questions__wrap{
    position: relative;
    padding: 20px 10px 20px 52px;
    max-width: 920px;
    margin: 0 auto;
}
.any-questions__wrap:before{
    position: absolute;
    top: 20px;
    left: 10px;
    width: 32px;
    height: 32px;
    background: url("img/any-questions.png") no-repeat center;
    background-size: contain;
    content: "";
}
/*-----/any-questions-----*/

/*-----through-----*/
.through{
    position: relative;
    padding: 20px 10px;
    max-width: 920px;
    margin: 0 auto;
}
.through__item{
    margin-bottom: 30px;
}
.through__pic{
    height: 60px;
    width: auto;
    display: block;
    margin-bottom: 10px;
}
/*-----/through-----*/

/*-----btn-----*/
.btn{
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    background: #e65100;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
}
.btn_2{
    margin-top: 15px;
}
.btn_3{
    height: 55px;
    padding: 5px 40px;
    border: none;
}
.btn:hover{
    opacity: .7;
    color: #fff;
    text-decoration: none;
}
/*-----/btn-----*/

/*-----sms-promo-----*/
.sms-promo{
    width: 100%;
    height: 552px;
    background: #65b0e6 url("pic/sms-promo-bg.png") no-repeat center;
    font-size: 20px;
    line-height: 30px;
    color:#fff;
}
.sms-promo__wrap{
    position: relative;
    max-width: 920px;
    margin: 0 auto;
    height: 552px;
    padding: 20px 10px;
    background: url("pic/sms-promo-tv.png") no-repeat bottom;
    background-size: 275px 177px;
    background-position: 50% 100%;

}
.sms-promo__wrap h3{
    margin-bottom: 5px;
    text-transform: uppercase;
}
.sms-promo__wrap p {
    margin-bottom: 5px;
    font-size: 14px;
    color:#1b5d8b;
    line-height: 20px;
}
.sms-promo__title{
    font-size: 35px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -1.6px;
}
/*-----/sms-promo-----*/

/*-----hlr-what-----*/
.sms-what{
    min-height: 135px;
    background: #65b0e6;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    text-align: center;
}
.sms-what__wrap{
    padding: 20px 10px;
    max-width: 920px;
    margin: 0 auto;
}
.sms-what__wrap>div{
    text-align: left;
}
.sms-what .hlr-link{
    color: #fff;
}
.sms-what .hlr-link:hover{
    color: #fff;
}
.sms-what .site__title{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    margin-bottom: 17px;
    color: #fff;
}
.sms-what__pic{
    float: left;
    margin: 0 15px 10px 0;
}
/*-----/hlr-what-----*/

/*-----sms-best-----*/
.sms-best{
    padding: 20px 10px;
    max-width: 920px;
    margin: 0 auto;
}
.sms-best__item{
margin-bottom: 20px;
}
.sms-best__pic{
    width: 72px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}
.sms-best__description{
    width: calc(100% - 100px);
    display: inline-block;
    vertical-align: middle;
}
/*-----/sms-best-----*/

/*-----mass-mailing-----*/
.mass-mailing{
    padding: 20px 10px;
    max-width: 920px;
    margin: 0 auto;
    text-align: center;
}
.mass-mailing p{
    text-align: left;
}
.mass-mailing__item{
    display: block;
    position: relative;
    overflow: hidden;
    height: 300px;
    padding: 20px 10px;
    margin-bottom: 20px;
    border: 1px solid #65b0e6;
    border-radius: 5px;
    font-size: 14px;
    color: #195b8a;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
}
.mass-mailing__item:hover{
    color: #195b8a;
    text-decoration: none;
}
.mass-mailing__name{
    min-height: 80px;
    padding: 0 0 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #717171;
}
.mass-mailing__wrap{
    margin-top: 30px;
}
.mass-mailing__name div{
    width: 24%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    text-align: center;
}
.mass-mailing__name h3{
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    color:#65b0e6;
    font-size: 17px;
    text-transform: uppercase;
}
.mass-mailing__hover{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    bottom: 0;
    height: 210px;
    width: 100%;
    left: 0;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    background: rgba(75, 76, 76, 0.97);
    color: #fff;
    transition: opacity .3s ease, visibility .3s ease;
    -webkit-transition: opacity .3s ease, visibility .3s ease;
}
.mass-mailing__item:hover .mass-mailing__hover{
    opacity: 1;
    visibility: visible;
}
/*-----write-----*/
.write{
    background: #eff7fc;
}
.write__wrap{
    padding: 20px 10px;
    max-width: 920px;
    margin: 0 auto;
    text-align: center;
    color: #565656;
}
.write__wrap h2{
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
}
.write__wrap input{
    height: 56px;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 10px;
    border-radius: 5px;
    border: 2px solid #dedede;
    background: #fff;
    color: #565656;
}
/*-----/write-----*/

/*-----clients-----*/
.clients{
    padding: 20px 10px;
    max-width: 920px;
    margin: 0 auto;
    text-align: center;
}
.clients__item{
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    text-align: left;
    color: #195b8a;
    line-height: 20px;
}
.clients__pic{
    display: inline-block;
    vertical-align: middle;
    width: 92px;
    height: 92px;
    margin-right: 15px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
}
.clients__item p {
    margin-bottom: 20px;
}
.clients__item span{
    font-size: 18px;
    color:#65b0e6;
}
.clients__description{
    display: inline-block;
    vertical-align: middle;
    width: 70%;
}
/*-----/clients-----*/

/*-----our-service-----*/
.our-service{
    padding-top: 20px;
    background:no-repeat center bottom;
    background-size: cover;
    text-align: center;
}
.our-service__wrap{
    padding: 0 10px 20px;
    max-width: 922px;
    margin: 0 auto;
}
.our-service .site__title{
    color: #fff;
}
.our-service__wrap{
    text-align: center;
}
.our-service__wrap:after{
    display: inline-block;
    width: 100%;
    content: "";
}
.our-service__item{
    display: block;
    vertical-align: top;
    height: 353px;
    margin-bottom: 13px;
    text-align: left;
}
.our-service__item>div{
    height: 109px;
    width: 100%;
    margin-bottom: 13px;
    border-radius: 5px;
    background: #fff;
}
.our-service__item_one{
    width: 100%;
    border-radius: 5px;
    background: #fff;
}
.our-service__name{
    position: relative;
    top: 50%;
    padding: 15px;
    transform: translateY(-50%);
}
.our-service__name div{
    width: 24%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    text-align: center;
}
.our-service__name>span{
    display: inline-block;
    vertical-align: middle;
    width: 67%;
    color:#000;
    font-size: 14px;
}
.our-service__name-big{
    font-size: 28px;
}
.our-service__name-block{
    display: block;
}
/*-----/our-service-----*/

@media (min-width: 767px) {

    body {
        min-width: inherit;
    }
    /*-----site-----*/
    .site-content{
        padding: 0;
    }
    .site__title{
        margin-bottom: 26px;
    }
    /*-----/site-----*/

    /*-----hlr-promo-----*/
    .hlr-promo {
        font-size: 24px;
    }
    .hlr-promo__title{
        width: 60%;
        font-size: 58px;
        line-height: 65px;
        margin-bottom: 10px;
    }
    .hlr-promo__wrap{
        padding-top: 74px;
        background-size: 549px 354px;
        background-position: 196% 100%;
    }
    .hlr-promo__wrap p{
        width: 60%;
    }
    .hlr-promo__wrap div{

    }
    /*-----/hlr-promo-----*/

    /*-----/hlr-promo-----*/
    .btn {
        display: inline-block;
        padding: 14px 18px;
        color: #fff;
        font-size: 21px;
    }
    .btn_1{
        position: absolute;
        bottom: 30px;
        left: 10px;
    }
    .btn_2{
        margin-top: 32px;
        padding: 17px 47px;
    }
    /*-----/btn-----*/

    /*-----hlr-what-----*/
    .hlr-what{
        padding: 35px 10px;
    }
    .hlr-what__pic {
        margin: 0 33px 10px 0;
    }
    /*-----/hlr-what-----*/

    /*-----hlp-lookup-----*/
    .hlp-lookup{
        padding: 60px 10px 40px;
    }
    .hlp-lookup__pic{
        display: inline-block;
        vertical-align: top;
        width: 40%;
        margin: 0;
    }
    .hlp-lookup__content{
        width: 59%;
        display: inline-block;
        vertical-align: top;
    }
    /*-----/hlp-lookup-----*/

    .service__wrap{
        margin-top: -23px;
        padding-top: 58px;
        text-align: justify;
    }
    .service__wrap:after{
        display: inline-block;
        width: 100%;
        content: "";
    }
    .service__item{
        width: 19%;
        display: inline-block;
        vertical-align: top;
        text-align: left;
        line-height: 18px;
    }
    /*-----/service-----*/

    /*-----who-needs-----*/
    .who-needs__wrap{
        padding: 60px 44% 40px 10px;
        background-size: 332px 391px;
        background: no-repeat center right;
    }
    /*-----/who-needs-----*/

    /*-----register-----*/
    .register__wrap {
        position: relative;
        padding: 60px 10px 40px 200px;
    }
    .register__pic{
        position: absolute;
        top: 60px;
        left: 10px;
    }
    /*-----/register-----*/

    /*-----relive-----*/
    .relive__wrap {
        position: relative;
        padding: 60px 200px 40px 10px;
    }
    .relive__pic{
        position: absolute;
        top: 35px;
        right: 10px;
    }
    /*-----/relive-----*/

    /*-----any-questions-----*/
    .any-questions__wrap {
        min-height: 100px;
        padding: 41px 10px 44px 97px;
        line-height: 19px;
        letter-spacing: 1px;
    }
    .any-questions__wrap:before {
        top: 50%;
        width: 64px;
        height: 64px;
        transform: translateY(-50%);
    }
    /*-----/any-questions-----*/

    /*-----through-----*/
    .through{
        padding: 60px 10px 40px;
    }
    .through__wrap{
        text-align: justify;
    }
    .through__wrap:after{
        display: inline-block;
        width: 100%;
        content: '';
    }
    .through__item{
        width: 29%;
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }
    .through__pic{
        height: 120px;
        margin-bottom: 22px;
    }
    /*-----/through-----*/

    /*-----hlr-promo-----*/
    .sms-promo {
        font-size: 24px;
    }
    .sms-promo__title{
        font-size: 58px;
        line-height: 65px;
        margin-bottom: 10px;
    }
    .sms-promo__wrap{
        padding-top: 74px;
        background-size: 400px 316px;
        background-position: 100% 100%;
    }
    .sms-promo__wrap p{
        width: 52%;
        font-size: 16px;
    }
    /*-----/hlr-promo-----*/

    /*-----hlr-what-----*/
    .sms-what{
        padding: 35px 10px;
    }
    .sms-what__pic {
        display: inline-block;
        vertical-align: middle;
        float: none;
        width: 64px;
        margin: 0 33px 10px 0;
    }
    .sms-what__wrap>div{
        display: inline-block;
        vertical-align: middle;
        width: 80%;
    }
    /*-----/hlr-what-----*/

    /*-----sms-best-----*/
    .sms-best {
        padding: 80px 10px;
    }
    .sms-best__item{
        display: inline-block;
        vertical-align: top;
        width: 47%;
        margin-right: 5%;
        margin-bottom: 60px;
    }
    .sms-best .sms-best__item:nth-child(even){
        margin-right: 0;
    }
    /*-----/sms-best-----*/

    /*-----mass-mailing-----*/
    .mass-mailing{
        padding: 50px 10px;
    }
    .mass-mailing__item{
        display: inline-block;
        vertical-align: top;
        width: 47%;
        margin-right: 5%;
        margin-bottom: 60px;
        overflow: hidden;
    }
    .mass-mailing__wrap .mass-mailing__item:nth-child(even){
        margin-right: 0;
    }
    .mass-mailing__wrap{
        margin-top: 60px;
    }
     /*-----/mass-mailing-----*/

    /*-----write-----*/
    .write__wrap{
        padding: 40px 10px;
    }
    .write__wrap h2{
        margin-bottom: 40px;
        font-size: 25px;
        line-height: 30px;
    }
    .write__wrap input {
        display: inline-block;
        vertical-align: top;
        width: 544px;
        margin-right: 3%;
    }
    /*-----/write-----*/

    /*-----our-service-----*/
    .our-service{
        padding-top: 50px;
    }
    .our-service__wrap{
        padding-bottom: 50px;
        text-align: justify;
    }
    .our-service__item>div{
    }
    .our-service__item{
        width: 34%;
        display: inline-block;
    }
    .our-service__item_one {
         width: 29%;
     }
    .our-service__name {
        padding-left: 10px;
    }
    /*-----/our-service-----*/
}
@media (min-width: 920px) {

    /*-----/hlr-promo-----*/
    .hlr-promo__wrap{
        max-width: 1500px;
        margin: 0 auto;
        background-position: 125% 100%;
    }
    /*-----/hlr-promo-----*/

    /*-----register-----*/
    .register__wrap {
        padding: 57px 10px 40px 285px;
    }
    .register__pic{
        position: absolute;
        top: 60px;
        left: 10px;
        width: 224px;
    }
    /*-----/register-----*/

    /*-----relive-----*/
    .relive__wrap {
        min-height: 332px;
        padding: 60px 300px 40px 10px;
    }
    .relive__pic{
        position: absolute;
        top: 60px;
        width: 164px;
    }
    /*-----/relive-----*/
}
@media (min-width: 1200px) {

    /*-----hlr-promo__wrap-----*/
    .hlr-promo__wrap {
        background-position: 861px 100%;
    }
    .hlr-promo__title {
        font-size: 65px;
    }
    .hlr-promo__wrap p {
        width: 69%;
    }
    /*-----/hlr-promo__wrap-----*/

    /*-----who-needs-----*/
    .who-needs__wrap{
        max-width: 1186px;
        padding: 60px 350px 46px 136px;
    }
    /*-----/who-needs-----*/

    /*-----btn-----*/
    .btn_1 {
        bottom: 28px;
        left: 1px;
    }
    /*-----/btn-----*/

    /*-----hlp-lookup-----*/
    .hlp-lookup{
        padding: 60px 10px 0;
    }
    .hlp-lookup__pic {
        width: 549px;
        margin-left: -101px;
        margin-top: -19px;
    }
    .hlp-lookup__content {
        width: 52%;
        display: inline-block;
        vertical-align: top;
        margin-left: -12px;
    }
    /*-----/hlp-lookup-----*/

    /*-----service-----*/
    .service__wrap {
        margin-top: -23px;
        padding: 57px 45px 9px 0;
    }
    /*-----/service-----*/

    /*-----hlr-what-----*/
    .hlr-what {
        padding: 41px 0;
    }
    /*-----/hlr-what-----*/

    /*-----/hlr-what-----*/
    .register__pic {
        left: 2px;
    }
    .register .site__title{
        margin-bottom: 32px;
    }
    /*-----/hlr-what-----*/

    /*-----relive-----*/
    .relive .site__title{
        margin-bottom: 32px;
    }

    .relive__wrap {
        min-height: 350px;
        padding: 60px 380px 40px 0;
    }
    .relive__pic {
        right: 142px;
    }
    /*-----/relive-----*/

    /*-----through-----*/
    .through {
        padding: 58px 0 0;
    }
    .through .site__title {
        margin-bottom: 34px;
    }
    /*-----/through-----*/

    /*-----any-questions-----*/
    .any-questions__wrap:before {
        left: 3px;
    }
    /*-----/any-questions-----*/

    /*-----hlr-what-----*/
    .sms-what {
        padding: 41px 0;
    }
    /*-----/hlr-what-----*/

    /*-----sms-promo-----*/
    .sms-promo__wrap {
        background-size: 492px 378px;
    }
    /*-----/sms-promo-----*/

}
@media screen and (max-width: 880px){
    .site-footer {
        margin: 0 auto 0;
        height: auto;
    }
}